.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login-image{
    background-image: url("../resource/loginPage.png");
}

.btn-fs {
    font-size: 0.8rem;
    font-weight: 700;
}

.btn .social-logo{
    vertical-align: text-top;
}

.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}

.divider{
    margin: 2rem 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.vh-h85{
    height: 85dvh;
}
