.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-image{
    background-image: url("../../resource/signup.png");
}

.btn .social-logo{
    vertical-align: text-top;
}

label span{
    color: red;
}

label .text-primary{
    text-decoration: none;
}

label .text-primary:hover{
    text-decoration: underline;
    cursor: pointer;
}